$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$box-height: 200px;

body {
  background-color: $background-color;
  color: $font-color;
}

.box1 {
  border: 1px solid $white;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  height: $box-height;
}

.box2 {
  border: 1px solid $white;
  border-bottom: 0;
  height: $box-height;
}

.box3 {
  border: 1px solid $white;
  border-bottom: 0;
  border-right: 0;
  height: $box-height;
}

.top-row {
  border-top: 0;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: black;
}
