$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #269926;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$box-height: 200px;

body {
  background-color: $background-color;
  color: $black;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

td {
  border: 5px solid $black;
  height: 125px;
  width: 125px;
}

td {
  border: 5px solid $black;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
  border-top: 0;
  border-left: 0;
}

table {
  display: none;
  position: absolute;
  left: 48%;
  margin-left: -155px;
  top: 45%;
}

#change-password {
  display: none;
}

#delete {
  display: none;
}

.bottom-row {
  border-bottom: 0;
}

.right-col {
  border-right: 0;
}

/*
.box {
  border: 50px solid $white;
=======
>>>>>>> gameLogic
  border-left: 0;
}

table {
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 50px;
}

.bottom-row {
  border-bottom: 0;
}

.right-col {
  border-right: 0;
}














/*
.box1 {
  border: 1px solid $white;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  height: $box-height;
}

.box2 {
  border: 1px solid $white;
  border-bottom: 0;
  height: $box-height;
}

.box3 {
  border: 1px solid $white;
  border-bottom: 0;
  border-right: 0;
  height: $box-height;
}

.top-row {
  border-top: 0;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: black;
}
*/
